body{
    margin: 0;
    font-family: "Comic Neue", cursive;
}
#container{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    margin: 0; padding: 0;
    width: 100dvw; height: 100dvh; 
    
}
#SCORE{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    margin: 0; padding: 0;
}
#reload{
    margin-bottom: 1rem;
    width: 2rem; height: 2rem; background-image: url(reload.png);
    background-size: cover;
}
#GameCon{
    display: flex; justify-content: space-around;  flex-wrap: wrap; align-items: center;
    height: 40dvw; width: 40dvw;;
}
.boxes{
    display: flex; justify-content: center; align-items: center;
    font-size: 500%;
    width: 30%; height: 30%; 
    border: 2px black solid;
    
}

@media (width < 450px) {
    
    #container{
    }
    #GameCon{
        width: 90dvw; height: 90dvw;
    }
  }